<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <h1>Welcome to the Learning Journal</h1>
                    <h2>a web app built with Python and Flask</h2>
                    <div class="container">
                        {% if current_user.is_authenticated %}
                        <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
                        <a class="button icon-right" href="{{ url_for('new_entry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                        <a href="{{ url_for('logout') }}" class="button icon-right" title="Log Out!">Log Out!</a>
                        <a href="{{ url_for('index') }}" class="button icon-right" title="Home">Home</a>
                        {% else %}
                            <!-- <a href="{{ url_for('login') }}" class="button icon-right" title="Log In!">Log In!</a> -->
                            <a href="{{ url_for('register') }}" class="site-sexy_button" title="Register!">Register!</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification {{ category }}">{{ message }}</div>
             {% endfor %}
         {% endif %}
         {% endwith %}
        <section>
            {% block content %}
            {% endblock %}
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>
