{% from 'macros.html' import render_field %}
{% extends "layout.html" %}

{% block content %}
<h3>Please register for the Learning Journal</h3>
<p>If you like, please fill out a short bio.</p>
<form method="POST" action="" class="form">
    {{ reg_form.hidden_tag() }}
    {% for field in reg_form %}
        {% if field.widget.input_type != 'hidden' %}
            {{ field.label }}
            {{ render_field(field) }}
        {% endif %}
    {% endfor %}
    <button type="submit" id="submit">Sign Up!</button>
</form>
{% endblock %}
